@charset "EUC-KR";
.spans{
 position: relative; 
  float: left; 
  display: block; 
 
    width: 32%;
    height: 58px;
  margin-left: 2px; 
    text-align: center; 
}
.spa1{
background-color: #FF3068;
}
.spa1 p{
color: white;
 font-weight: bold;
}
.spa2 p{
color: black;
}
.spa2{
margin-top: 2px;
background-color: #ECECEC;
}
.grade{

line-height: 50px;
}
.menu{

left: -2px;
background-color: #FF3068;
height: 80px;
width: 208px;
text-align: center;
line-height: 79px;
font-weight:bold;
color:white;
border-top-right-radius: 51px;
border-top-left-radius: 51px;
box-shadow: 0 -7px 10px 0 rgba(0, 0, 0, 0.11);
cursor: pointer;

}
.menu1{
	
	
}
span.menu2,span.menu3,span.menu4,span.menu5{

margin-left: 13.5px;

}
.menu5{
	
margin-left: 10px;	
	
}
div#brandborder2{
width: 100px ;  
height:66px;  
top: 36px;
    left: 26%;
  position: relative;
 

}
p#brandname2{
font-weight: bold; 
font-size: 28px;
 position: relative; 
 color: #434343 ;

}
p#brandloc2{
font-weight: bold;
 font-size: 15px; 
 left: 5px ; 
 top: -22px;
 position: relative;  
 color: #434343 ;
}
/* .menu:hover{
background-color: white;
color: black;

} */
div#reviewborder2{

width: 287px;
 height: 100px;
  position: relative;
   top: -60px;
       left: 70%;

}
span#reviewshow2{
font-weight: bold;
 font-size: 13px  ;
  border: 0.8px solid #F90346;
  color: #F90346; 
   border-radius:50px;
    width: 160px;
    height: 35px;
    display: block; 
    text-align: center ;
     position: relative; 
     margin-left: 110px; 
     top: 14px;
      line-height: 34px; 
      background-color: white;;

}
span#menushow2{
font-weight: bold;
 background-color:#F90346;
  font-size: 13px  ;
  color:white; 
   border-radius:50px; 
   width: 160px;
   height: 35px;
   display: block; 
   text-align: center ;
    position: relative; 
    margin-left: 110px; 
    top: 26px;
     line-height: 34px; 

}